
.galleryMain {
    margin-top: 10vh;
    display: flex;
    justify-content: end;
    flex-direction: row;
    .horizontalScroll {
        overflow-x: auto;
        white-space: nowrap;
        overflow-y: hidden;
    }
}

