
.galleryMain {
    margin-top: 10vh;
    display: flex;
    justify-content: end;
    flex-direction: row;
    .horizontalScroll {
        display: flex;
        flex-wrap: nowrap;
        // do this on mobile and do overflow-x: hidden on desktop
        overflow-x: auto;
    }

    margin-bottom: 10vh;
}

