// Displays the tunnels and story titles

.story {
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    border-top-left-radius: 100vh;
    border-top-right-radius: 100vh;
    height: 55vh;
    width: auto;
    border-collapse: separate; 
    margin-bottom: 3vh;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px #212121;
    border: 0.5px solid #eaeaea;
}

.story:active {
    opacity: 50%;
}

.comingSoonStory {
    cursor: default;
}


.storyTitles {
    font-family: 'Klee One', cursive;
    color: #212121;
}

// --------------------RESPONSIVE DESIGN----------------------------------------

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .storyTitles {
        font-size: 2vh;
    }
    .storyWrapper {
        margin-right: -2vh;
        margin-left: -3vh;
        margin-top: 8vh;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .storyTitles {
        font-size: 2vh;
    }
    .storyWrapper {
        margin-top: 8vh;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .storyWrapper {
        margin-top: 13vh;
    }
    .story:hover {
        margin-top: -1vh;
        box-shadow: 8px 8px #212121;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .storyWrapper {
        margin-right: 3vh;
    }
}

// XXX-large devices 
@media (min-width: 1920px) {
    .storyWrapper {
        margin-top: 15vh;
    }
  }
