// https://www.geeksforgeeks.org/how-to-zoom-an-image-on-mouse-hover-using-css/

.story {
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    border-top-left-radius: 200px;
    border-top-right-radius:  200px;
    height: 40vh;
    width: auto;
    border-collapse: separate; 
    perspective: 1px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.story:hover {
    transform: scale(1.2);
}