// Displays the tunnels and story titles

.story {
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    border-top-left-radius: 100vh;
    border-top-right-radius: 100vh;
    height: 55vh;
    width: auto;
    border-collapse: separate; 
    margin-bottom: 5vh;
    // overflow-y: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px #000;
}


.storyTitles {
    font-family: 'Klee One', cursive;
    color: #000;
}

// --------------------RESPONSIVE DESIGN----------------------------------------

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .storyTitles {
        font-size: 2vh;
    }
    .story {
        margin-top: 8vh;
    }
    .storyWrapper {
        margin-right: -2vh;
        margin-left: -3vh;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .storyTitles {
        font-size: 2vh;
    }
    .story {
        margin-top: 8vh;
    }
}

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//     .storyTitles {
//         color: rgb(225, 0, 255);
//     }
// }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .story {
        margin-top: 13vh;
    }
    .story:hover {
        margin-top: 12vh;
        box-shadow: 8px 8px #000;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .storyWrapper {
        margin-right: 3vh;
    }
}

// XXX-large devices 
@media (min-width: 1920px) {
    .story {
        margin-top: 15vh;
    }
    .story:hover {
        margin-top: 14vh;
    }
  }
