@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Nova+Round&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
}

img {
  pointer-events: none;
}

body, div, p, h1, h2, h3, h4 {
  font-family: 'Klee One', cursive;
}
/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
  background: #212121;
  margin-right: 20px;
  border-radius: 10px;
}

div::-webkit-scrollbar {
  border-radius: 10px;
  height: 5px;
}

/* Track */
div::-webkit-scrollbar-track {
  background: #FFFFFF;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-left: 30vw;
  margin-right: 30vw;
}

/* Handle */
div::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid lightgrey;
  border-radius: 10px;
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
    background-color: #FFFFFF;
  }
  body {
    color: #FFFFFF;
    background-color: #FFFFFF;
  }
}
