@import url('https://fonts.googleapis.com/css2?family=Martel:wght@300&family=Nova+Round&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: #F9F9F9;
  font-family: 'Nova Round', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #F9F9F9;
    background: black;
  }
}
