@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Nova+Round&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: #F9F9F9;
}

div {
  background-color: #F9F9F9;
}


body, div, p, h1, h2, h3, h4 {
  font-family: 'Klee One', cursive;
}
/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
  background: rgba(78, 78, 78, 0.8);
  margin-right: 20px;
  border-radius: 10px;
}

div::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
  height: 5px;
}

/* Track */
div::-webkit-scrollbar-track {
  background: white;
  border: 2px solid lightgray;
  border-radius: 10px;
  margin-left: 20vw;
  margin-right: 20vw;
}

/* Handle */
div::-webkit-scrollbar-thumb {
  background: rgba(78, 78, 78, 0.2);
  border: 1px solid lightgrey;
  border-radius: 10px;
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
    background-color: #f9f9f9;
  }
  body {
    color: #F9F9F9;
    background-color: #f9f9f9;
  }
}
