.baseLayoutContainer {
  position: relative;
}

.skipNavigationLink {
  left: -10000px;
  position: absolute;
  z-index: 100;
  background-color: #FFFFFF;

  &:focus {
    left: 0;
  }
}

.mainElement:focus {
  outline: none;
}

.container {
  padding: 0 2rem;
}

.loginModal {
  position: absolute;
  margin-top: 10vh;
  height: 100vh;
  width:100vw
}

.main {
  min-height: 110vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backBtn {
  z-index: 100000;
  color: #212121; 
  background-color: #FFFFFF;
  width: 250px;
  padding: 2vh;
  border-radius: 100px;
  border: 1px solid #212121;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Klee One', cursive;
  margin-top: 1vh;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.backBtn:hover {
  box-shadow: 1px 3px #212121;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}


.introContent {
  height: 100vh;
  font-family: 'Klee One', cursive;
  background-color: #FFFFFF;
}
.introHeader{
  font-family: 'Nova Round', cursive;
}
.introSubHeader {
  // margin-top: 0;
  // margin-bottom: 0.5rem;
  // font-weight: 500;
  // line-height: 1.2;
  font-size: 1.25rem;

}
.startBtn {
  color: #212121; 
  background-color: #FFFFFF;
  width: 250px;
  padding: 2vh;
  padding-bottom: 2.5vh;
  border-radius: 100px;
  border: 1px solid #212121;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Klee One', cursive;
  margin-top: 2vh;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.startBtn:active {
  opacity: 50%;
}

.disclaimer {
  font-family: 'Klee One', cursive;
  position: absolute; 
  bottom: 0;
  width: 100%;
  margin-right: auto;
}
.disclaimer h5 {
  text-align: center;
  font-size: 2vh;
}
// end of trigger screen

// loading animation 
.center {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wave {
  width: 3px;
  height: 50px;
  background: #212121;
  // margin-left: 10px;
  // margin-right: 10px;
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
// .wave:nth-child(2) {
//   animation-delay: 0.05s;
// }
// .wave:nth-child(3) {
//   animation-delay: 0.1s;
// }
// .wave:nth-child(4) {
//   animation-delay: 0.15s;
// }
// .wave:nth-child(5) {
//   animation-delay: 0.20s;
// }
// .wave:nth-child(6) {
//   animation-delay: 0.25s;
// }
// .wave:nth-child(7) {
//   animation-delay: 0.3s;
// }
// .wave:nth-child(8) {
//   animation-delay: 0.35s;
// }
// .wave:nth-child(9) {
//   animation-delay: 0.4s;
// }
// .wave:nth-child(10) {
//   animation-delay: 0.45s;
// }

.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}


// 404 styling start
.notFound {
  background-color: #FFFFFF;
  z-index: 100;
  height: 100vh;
}
.numbers {
  font-size: 3vh;
  color: #A9A9A9;
  padding-top: 5vh;
}
.message {
  font-size: 8vh;
}

.personImg {
  z-index: 1;
  position: relative;
}

.goHomeBtn {
  margin-top: 3vh;
  z-index: 200;
  margin-left: 2vh;
  border: 1px solid #212121;    
  width: 30vh;
  height: 8vh;
  border-radius: 100px;
  text-align: center;
  padding-top: 2.3vh;
  background-color: #FFFFFF;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px #212121;
  position: absolute;
}

.goHomeBtn:active {
  opacity: 50%;
}

.goHomeBtn h6 {
  font-size: 2vh;
}

.goHomeBtn h6 a {
  text-decoration: none;
  color: #212121;
}
// 404 styling end


// --------------------RESPONSIVE DESIGN----------------------------------------

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .introHeader{
    font-size: 7vh;
    font-family: 'Nova Round', cursive;
  }
  .numbers {
    // color: red;
    margin-left: 3vh;
  }
  .message {
    margin-left: 3vh;
    margin-right: 3vh;
    padding-top: 5vh;
    font-size: 6vh;
  }
  .personImg {
    margin-left: 10vw;
  }
  .line {
    margin-top: -20vh;
  }
  .personImg {
    width: 120px;
    height: 250px;
    margin-top: 20vh;
  }
  .triggerImg {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .introHeader{
    font-size: 13vh;
  }
  .numbers {
    // color: blue;
    margin-left: 2vh;
  }
  .message {
    padding-top: 10vh;
    margin-left: 2vh;
    font-size: 6vh;
  }
  .personImg {
    margin-left: 50vw;
    width: 160px;
    height: 350px;
    margin-top: 15vh;
  }
  .line {
    margin-top: -21vh;
  }
  .triggerImg {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .introHeader{
    font-size: 9vh;
  }
  // .numbers {
  //   color: green;
  // }
  .message {
    font-size: 5.5vh;
  }
  .personImg {
    margin-left: 30vw;
  }
  .line {
    margin-top: -24vh;
  }
  .personImg {
    width: 180px;
    height: 400px;
    margin-top: 20vh;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .startBtn:hover {
    box-shadow: 3px 3px #212121;
    margin-top: 1.5vh;
    margin-bottom: 0.5vh;
  }
  .introHeader{
    font-size: 13vh;
  }
  // .numbers {
  //   color: #800080;
  // }
  .personImg {
    width: 180px;
    height: 400px;
    margin-top: 20vh;
  }
  .line {
    margin-top: -24vh;
  } 
  .triggerImg {
    position: absolute;
    width: 50vh;
    height: 50vh;
    right: 1vh;
    bottom: 1vh;
    z-index: 0;
    opacity: 10%;
    display: block;
    filter: blur(1px);
  }
  .goHomeBtn:hover {
    cursor: pointer;
    margin-top: 2.5vh;
    box-shadow: 3px 3px #212121;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .introHeader{
    font-size: 12vh;
  }
  // .numbers {
  //   color: orange;
  // }
  .message {
    padding-top: 20vh;
  }
  .personImg {
    margin-left: 70vw;
    width: 170px;
    height: 350px;
    margin-top: 10vh;
  }
  .line {
    margin-top: -21vh;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .introHeader {
    font-size: 10vh;
  }
  // .numbers {
  //   color: gray;
  // }
  .personImg {
    margin-left: 70vw;
    width: 210px;
    height: 450px;
    margin-top: 5vh;
  }
  .line {
    margin-top: -27vh;
  }
}

// XXX-large devices 
@media (min-width: 1920px) {
  .line {
    margin-top: -20vh;
  }
}


@media (prefers-color-scheme: #FFFFFF) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
