.block {
    height: 20vh;
}

.header {
    margin-bottom: 10vh;
}

.buttonContainer {
    height: 10vh;
}

.input {
    padding: 6px;
    margin-bottom: 5vh;
}

.multi {
    margin-bottom: 5vh;
}

.question {
    font-size: 2.6vh;
    padding-bottom: 1vh;
}

.largeInput{
    height: 15vh;
    margin-bottom: 5vh;
}

.button {
    width: 60%;
    border-radius: 100px;
    box-shadow: 0px 0px #000;
    border: 2px solid #000;
    transition: all 0.3s ease-in-out;
    cursor: pointer;    
    height: 60px;
    background-color: #F9F9F9;
    margin-bottom: 1vh;
    font-size: 2.6vh;
}

.button:hover {
    margin-top: -1vh;
    box-shadow: 3px 3px #000;
}
.submitImage{
    height: 20vw;
    width: 20vw;
}
.feedbackContent {
    position: relative;
}

// --------------------RESPONSIVE DESIGN----------------------------------------

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .feedbackContent {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .feedbackTitle {
        font-size: 15vw;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .feedbackContent {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .feedbackTitle {
        font-size: 15vw;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .feedbackContent {
        margin-left: 25vw;
        margin-right: 25vw;
    }
    .feedbackTitle {
        font-size: 8vw;
    }
}