.block {
    height: 10vh;
}

.header {
    margin-bottom: 10vh;
}

.buttonContainer {
    height: 10vh;
}

.input {
    padding: 6px;
    margin-bottom: 5vh;
}

.multi {
    margin-bottom: 5vh;
}

.question {
    font-size: 2.6vh;
    padding-bottom: 1vh;
}

.largeInput{
    height: 15vh;
    margin-bottom: 5vh;
}

.button {
    width: 60%;
    border-radius: 100px;
    box-shadow: 0px 0px #000;
    border: 2px solid #000;
    transition: all 0.3s ease-in-out;
    cursor: pointer;    
    height: 60px;
    background-color: #F9F9F9;
    margin-bottom: 1vh;
    font-size: 2.6vh;
}

.submitScreenBtn {
    max-width: 40vh;
}

.button:hover {
    margin-top: -1vh;
    box-shadow: 3px 3px #000;
}


.submitImage {
    height: 50vh;
    width: 50vh;
    position: relative;
    margin: auto;
}

.submitText {
    max-width: 60vh;
    margin: auto;
}

.submitText h2 {
    font-size: 3.5vh;
}

.submitText h3 {
    font-size: 2vh;
}
.submitScreenContent {
    margin-left: 5vh;
    margin-right: 5vh;
}

// --------------------RESPONSIVE DESIGN----------------------------------------

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .feedbackContent {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .feedbackTitle {
        font-size: 15vw;
    }
    .submitText {
        margin-bottom: 4vh;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .feedbackContent {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .feedbackTitle {
        font-size: 15vw;
    }
    .submitText {
        margin-bottom: 4vh;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .feedbackContent {
        margin-left: 25vw;
        margin-right: 25vw;
    }
    .feedbackTitle {
        font-size: 8vw;
    }
    .submitScreenContent {
        margin-left: 20vh;
        margin-right: 20vh;
    }
    .submitText {
        margin-top: 4vh;
    }
}

// XXX-large devices 
@media (min-width: 1920px) {
    .block {
        height: 15vh;
    }
}