.memberVis {
    width: 20vh;
    margin-bottom: 3vh;
    margin-top: 5vh;
}
.end {
    margin-top: 10vh;
    margin-bottom: 20vh;
}
.teamText {
    line-height: 1;
    font-family: 'Martel', serif;
    max-height: 100%;
}
.teamText h1 {
   font-size: 7vw;
}