.memberVis {
    width: 20vh;
    margin-bottom: 3vh;
    margin-top: 5vh;
}
.end {
    margin-top: 10vh;
    margin-bottom: 20vh;
}
.creditContent {
    margin-left: 25%;
    width: 100%;
}

.creditTitle {
   font-size: 7vw;
   margin-bottom: 10vh;
}

.block {
    height: 20vh;
}
