.memberVis {
    width: 22vh;
    margin-bottom: 3vh;
    margin-top: 5vh;
}
.end {
    margin-top: 10vh;
    margin-bottom: 20vh;
}
.creditContent {
    width: 100%;
}

.creditTitle {
   font-size: 6vw;
   margin-bottom: 10vh;
}

.block {
    height: 20vh;
}
