.footer {
    display: block;
    padding: 30px 0;
    margin-top: 60px;
    border-top: 1px solid #eaeaea;
    bottom: 0;
}

.footerLink {
    color: #000000;
}

// This no work:/ i tried to use d-flex but it got rid of all the footer styling :(
.iconContainer {
    justify-content: right;
}

.iconStyle {
    margin-left: 0.5vh;
    margin-right: 0.5vh;
}