.footer {
    text-align: center;
    border-top: 2px solid #eaeaea;
    background-color: #F9F9F9;
    padding-top: 20px;
}

.footerDiv{
    position: fixed;
    bottom: 0px;  
    width: 100%;
    height: 90px; 
    padding-bottom: 10px;
    z-index: 999;
}


.iconContainer .footerLink {
    border: 1px solid #000;
    margin-left: 1.5vh;
    padding: 0.5vh;
    border-radius: 10%;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px #000;
    padding-bottom: 1.2vh;
}

.iconContainer .extraPadding {
    padding-left: 1vh;
    padding-right: 1vh;
}

.footerLink {
    color: #000000;
}

.footerLink:hover {
    color: #0d6efd;
}

.iconStyle {
    margin-left: 0.3vh;
    margin-right: 0.3vh;
}

// --------------------RESPONSIVE DESIGN----------------------------------------

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    // .footerLink {
    //     color: #d9ff00;
    // }
    .footerDiv {
        height: 70px; 
    }
    .footer p {
        display: none;
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    // .footerLink {
    //     color: #ff0000;
    // }
    .footerDiv {
        height: 70px; 
    }
    .footer p {
        display: none;
    }
}


// // Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    // .footerLink {
    //     color: #0004ff;
    // }
    .footer { 
        display: flex;
        justify-content: space-between;
    }
    .footerDiv {
        height: 70px; 
    }
    .footer p {
        display: block;
        margin-left: 2vh;
    }
    .iconContainer {
        margin-right: 2vh;
    }
}

// // Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    // .footerLink {
    //     color: #00ff22;
    // }
    .iconContainer .footerLink:hover {
        color: #000;
        box-shadow: 3px 3px #000;
    }
}

// // X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//     .footerLink {
//         color: #ff00c8;
//     }
// }

// // XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) {
//     .footerLink {
//         color: #ff7b00;
//     }
// }