.footer {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    border-top: 2px solid #eaeaea;
    bottom: 0;
}

.footerLink {
    color: #000000;
}

.footerLink:hover {
    color: #00a6ff;
}

.iconStyle {
    margin-left: 0.5vh;
    margin-right: 0.5vh;
}