.tooltip {
    position: relative;
    display: inline-block;
    z-index: 0;
  }
  
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    display: none;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }
  
  .circle {
    height: 4vh;
    width: 4vh;
    background-color: #FFFFFF;
    border: 1px solid #212121;  
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 1vh;
  }
  
  .reactionCount {
    margin-left: 5vh;
  }
  
  .reactionCount .circle {
    margin-left: -2vh;
  }
  


  // --------------------RESPONSIVE DESIGN----------------------------------------
  

  
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .tooltip:hover .tooltiptext {
        display: inline;
      visibility: visible;
      opacity: 1;
    }
   
  }
 