.updateBG {
    background-color: #FFFFFF;
}

.updateTitle {
   margin-bottom: 10vh;
}

.subTitle {
    margin-top: 5vh;
}

.block {
    height: 20vh;
}

.customSpace {
    margin-bottom: 3vh;
}

.insertLink {
    color: #212121;
}

.insertLink:hover {
    color: #212121;
}

.roadmapContain {
    border: 1px solid #212121;
    position: relative;
    margin: 0 !important;
    height: calc(90vw / 2);
    width: 90vw;
}

/* Handle on hover */
div.container::-webkit-scrollbar-thumb:hover {
    background: #212121;
    margin-right: 20px;
    border-radius: 10px;
  }
  
  div.container::-webkit-scrollbar {
    border-radius: 10px;
    height: 5px;
    width: 5px;
  }
  
  /* Track */
  div.container::-webkit-scrollbar-track {
    background: #eaeaea;
    border-radius: 10px;
    margin-left: 30vw;
    margin-right: 30vw;
  }
  
  /* Handle */
  div.container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .container {
      max-height: 95vh;
      overflow-y: scroll;
  }

// .roadmapContain {
//     width: 100%;
//     height: 30vh;
//     position: relative;
//     .roadmapImg {
//         object-fit: contain;
//         position: absolute;
//     }
// }

// --------------------RESPONSIVE DESIGN----------------------------------------

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .updateContent {
        line-height: 2;
        max-width: 90%;
        margin-left: 5%;
    }
    .updateTitle {
        font-size: 15vw;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .updateContent {
        line-height: 2;
        max-width: 80%;
        margin-left: 10%;
    }
    .updateTitle {
        font-size: 15vw;
    }
    // .roadmapContain {
    //     height: 45vh;
    // }
    .roadmapContain {
        height: calc(80vw / 2);
        width: 80vw;
      }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .updateContent {
        max-width: 60%;
        margin-left: 20%;
    }
    .updateTitle {
        font-size: 10vw;
    }
    // .roadmapContain {
    //     height: 40vh;
    // }
    .roadmapContain {
        height: calc( 60vw / 2);
        width: 60vw;
      }
}

@media (min-width: 992px) {
    // .roadmapContain {
    //     height: 50vh;
    // }
    .roadmapContain {
        margin-left: 2vh;
        margin-right: 2vh;
        height: calc( 60vw / 2);
        width: 60vw;
      }
}

@media (min-width: 1200px) {
    // .roadmapContain {
    //     height: 55vh;
    // }
    .roadmapContain {
        height: calc( 60vw / 2);
        width: 60vw;
      }
}

@media (min-width: 1400px) {
    .roadmapContain {
      height: calc( 60vw / 2);
      width: 60vw;
    }
  }