// top buttons
.menuButton {
    margin-left: 2vh;
    margin-right: 2vh;
    z-index: 200;
    border: 2px solid #000;
    padding-left: 4vh;
    padding-right: 4vh;
    border-radius: 100px;
    box-shadow: 0px 0px #000;
    margin-bottom: 1vh;
    margin-top: 1.2vh;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;   
}
.menuButton:focus {
    background-color: #e7f1ff;
}

.soundButton {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 2vh;
    margin-right: 2vh;
    z-index: 200;
    border: 2px solid #000;
    padding-left: 4.2vh;
    padding-right: 4.2vh;
    border-radius: 100px;
    box-shadow: 0px 0px #000;
    margin-bottom: 1vh;
    margin-top: 1.2vh;
    transition: all 0.3s ease-in-out;
    cursor: pointer;    
}
.soundButton:focus {
    background-color: #e7f1ff;
}

.topUiBackground {
    border-bottom: 2px solid #000;
    position: absolute;
    width: 100%;
    background-color: #F9F9F9;
    z-index: 3;
}


// for subnav or hamburger menu icon content
.pageTabs a {
    color: #000;
    cursor: pointer;    
}

.feedbackTab a {
    text-decoration: none;
}

.subnav{
   height: 100%;
   background: #F9F9F9;
   position: fixed; 
   bottom: 0;
   border-left: 2px solid #000;
   transition: all 0.5s ease-out;
   z-index: 2;
}
.subnav.show {
    right: 0;
    z-index: 2;
}

.spaceAbove {
    margin-top: 20vh;
}

// --------------------RESPONSIVE DESIGN----------------------------------------

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    // .topUiBackground {
    //     background-color: #ff6565;
    // }
    .logoFont {
        display: none;
    }
    .subnav {
        right: -100%;
        width: 100%;
    }
    .pageTabs a {
        font-size: 8vh;
    }
    .feedbackTab a {
        text-decoration: none;
    }
    .active {
        text-decoration: underline 3px #000;
        text-underline-offset: 5px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    // .topUiBackground {
    //     background-color: #26ff00;
    // }
    .logoFont {
        display: none;
    }
    .subnav {
        right: -100%;
        width: 100%;
    }
    .pageTabs a {
        font-size: 10vh;
    }
    .active {
        text-decoration: underline 3px #000;
        text-underline-offset: 5px;
    }
    .logoFont {
        padding: 1.6vh;
        font-size: 3vh;
    }
    .logoFont a {
        text-decoration: none;
        color: #000;
        font-family: 'Nova Round', cursive;
        cursor: pointer;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    // .topUiBackground {
    //     background-color: #006aff;
    // }
    .logoFont {
        display: block;
        padding: 1.6vh;
        font-size: 3vh;
    }
    .logoFont a {
        text-decoration: none;
        color: #000;
        font-family: 'Nova Round', cursive;
        cursor: pointer;
    }
    .subnav {
        right: -50%;
        width: 50%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    // .topUiBackground {
    //     background-color: #eeff00;
    // }
    .menuButton:hover {
        margin-top: 1vh;
        box-shadow: 3px 3px #000;
    }
    .soundButton:hover {
        margin-top: 1vh;
        box-shadow: 3px 3px #000;
    }
    .pageTabs:hover, .pageTabs a:hover {
        color: #F9F9F9;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
    .subnav {
        right: -40%;
        width: 40%;
    }
}

// X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//     .topUiBackground {
//         background-color: #ff00bf;
//     }
// }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    // .topUiBackground {
    //     background-color: #370808;
    // }
    .subnav {
        right: -30%;
        width: 30%;
    }
}