




// for subnav or hamburger menu icon content
.pageTabs a {
    font-size: 10vh;
    text-decoration: none;
    color: #000;
}
.pageTabs a:hover {
    margin-left: 2vh;
}

.active {
    text-decoration: line-through;
}

.subnav{
   height: 95%;
   background: white;
   position: fixed; 
   bottom: 0;
   right: -30vw;
   width: 30vw;
   z-index: 200;
   border-left: 1px solid #000;
   transition: all 0.3s ease-out;
   z-index: 999;
}
.subnav.show {
    right: 0;
}