// top buttons
.topButtons {
    background-color: red;
    margin-left: 2vh;
    margin-right: 2vh;
    z-index: 200;
}

.topUiBackground {
    border-bottom: 1px solid #000;
}

// affects only the logo: Tunnel_vzn
.logoFont {
    font-family: 'Nova Round', cursive;
}
.logoFont a {
    text-decoration: none;
    color: #000;
}
  

// for subnav or hamburger menu icon content
.pageTabs a {
    font-size: 10vh;
    text-decoration: none;
    color: #000;
}
.pageTabs a:hover {
    margin-left: 2vh;
}

.active {
    text-decoration: line-through;
}

.subnav{
   height: 100%;
   background: white;
   position: fixed; 
   bottom: 0;
   right: -30vw;
   width: 30vw;
   border-left: 1px solid #000;
   transition: all 0.3s ease-out;
   z-index: 100;
}
.subnav.show {
    right: 0;
}

.spaceAbove {
    margin-top: 10vh;
}