.aboutBG {
  background-color: #ffffff;
}

.aboutTitle {
  margin-bottom: 10vh;
}

.subTitle {
  margin-top: 5vh;
}

.block {
  height: 20vh;
}

.customSpace {
  margin-bottom: 3vh;
}

.partnerLink {
  color: #212121;
}

.partnerLink:active {
  opacity: 50%;
}

/* Handle on hover */
div.container::-webkit-scrollbar-thumb:hover {
  background: #212121;
  margin-right: 20px;
  border-radius: 10px;
}

div.container::-webkit-scrollbar {
  border-radius: 10px;
  height: 5px;
  width: 5px;
}

/* Track */
div.container::-webkit-scrollbar-track {
  background: #eaeaea;
  border-radius: 10px;
  margin-left: 30vw;
  margin-right: 30vw;
}

/* Handle */
div.container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.container {
    max-height: 95vh;
    overflow-y: scroll;
}

// --------------------RESPONSIVE DESIGN----------------------------------------

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .aboutContent {
    line-height: 2;
    max-width: 90%;
    margin-left: 5%;
  }
  .aboutTitle {
    font-size: 15vw;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .aboutContent {
    line-height: 2;
    max-width: 80%;
    margin-left: 10%;
  }
  .aboutTitle {
    font-size: 15vw;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .aboutContent {
    max-width: 60%;
    margin-left: 20%;
  }
  .aboutTitle {
    font-size: 10vw;
  }
}
