.aboutBG {
    background-color: #FFFFFF;
}

.aboutTitle {
   margin-bottom: 10vh;
}

.subTitle {
    margin-top: 5vh;
}

.block {
    height: 20vh;
}

.customSpace {
    margin-bottom: 3vh;
}

.partnerLink {
    color: #212121;
}

.partnerLink:active {
    opacity: 50%;
}



// --------------------RESPONSIVE DESIGN----------------------------------------

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .aboutContent {
        line-height: 2;
        max-width: 90%;
        margin-left: 5%;
    }
    .aboutTitle {
        font-size: 15vw;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .aboutContent {
        line-height: 2;
        max-width: 80%;
        margin-left: 10%;
    }
    .aboutTitle {
        font-size: 15vw;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .aboutContent {
        max-width: 60%;
        margin-left: 20%;
    }
    .aboutTitle {
        font-size: 10vw;
    }
}