// we will revisit the return button after we roll out the button component
// .return {
//   display: flex;
//   position: absolute;
//   justify-content: center;
//   flex-direction: column;
//   color: #212121;
//   margin-left: 17vh;
//   z-index: 1000;
//   border: 2px solid #212121;
//   padding-left: 4.2vh;
//   padding-right: 4.2vh;
//   font-size: 2.5vh;
//   border-radius: 100px;
//   background-color: #FFFFFF;
//   box-shadow: 0px 0px #212121;
//   margin-top: 1.2vh;
//   transition: all 0.3s ease-in-out;
//   cursor: pointer;  
//   height: 53px;
// }

.tooltip {
  position: relative;
  display: inline-block;
  z-index: 0;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  z-index: 1;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.circle {
  height: 30px;
  width: 30px;
  background-color: #FFFFFF;
  border: 1px solid #212121;  
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-right: 1vh;
}

.reactionCount {
  margin-left: 5vh;
}

.reactionCount .circle {
  margin-left: -2vh;
}

.block {
  height: 13vh;
}
.storySynopsis {
  font-size: 3vh;
  text-decoration: underline;
}

.words {
  line-height: 3vh;
  letter-spacing: -1px;
}

.normSection {
  position: relative;
  z-index: 1;
}

.theArrow {
  color: #212121; 
  text-decoration: none; 
}

.arrow {
  position: absolute;
  margin-top: 90vh;
  width: 100%;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.offset {
  order: -1;
}

.partnerLink {
  color: #212121;
}

.partnerLink:hover {
  color: #0d6efd;
}


// CODE FOR LAST PANEL OF THE STORIES (THE FORM)

.formContainer {
  border-radius: 10px;
  padding: 3vh;
  margin-left: 2vh;
  margin-right: 2vh;
  background-color: white;
}

.choiceContainer {
  margin-top: 4vh;
}

.endStoryBtn h6 a {
  text-decoration: none;
  color: #212121;
}

.endStoryBtn h6 {
  font-size: 2vh;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
}

.endStoryBtn {
  z-index: 200;
  border: 2px solid #212121;    
  background-color: #FFFFFF;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px #212121;
  cursor: pointer;
  border-radius: 100px;
  height: 8vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


// when user selects one of the four, the corresponding icon will be changed to this color.
.liked {
  color: blue;
}

.loved {
  color: pink;
}

.relatable {
  color: green;
}

.insightful {
  color: orange;
}

.question {
  font-size: 2.6vh;
  padding-bottom: 1vh;
  margin-top: 5vh;
}

.buttonContainer {
  height: 10vh;
}

.reactIcon {
  margin-right: 1vh;
}

.input {
  padding: 6px;
}

.largeInput{
  height: 15vh;
  min-height: 15vh;
  margin-bottom: 5vh;
}

.button {
  width: 100%;
  border-radius: 100px;
  box-shadow: 0px 0px #212121;
  border: 2px solid #212121;
  transition: all 0.3s ease-in-out;
  cursor: pointer;    
  height: 60px;
  background-color: #FFFFFF;
  margin-bottom: 1vh;
  font-size: 2.6vh;
}

// --------------------RESPONSIVE DESIGN----------------------------------------

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .arrow {
    display: none;
  }
  .section {
    display: block;
    scroll-snap-align: start;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }
  .container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  .storyTitle {
    font-size: 6vh;
  }
  .words {
    margin-top: 2vh;
    width: auto;
    margin-left: 2vh;
    margin-right: 2vh;
    font-size: 1.9vh;
  }
  .imgFrame {
    border: 2px solid #212121;
    margin-left: 2vh;
    margin-right: 2vh;
    height: 40vh;
    width: auto;
    position: relative;
  }
  .choiceContainer {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .arrow {
    display: none;
  }
  .storyTitle {
    font-size: 6vh;
  }
  .imgFrame {
    border: 2px solid #212121;
    margin-left: 2vh;
    margin-right: 2vh;
    height: 50vh;
    width: auto;
    position: relative;
  }
  .words {
    margin-top: 2vh;
    width: auto;
    margin-left: 2vh;
    margin-right: 2vh;
    font-size: 2vh;
  }
  .section {
    scroll-snap-align: start;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }
  .container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  .choiceContainer {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .arrow {
    margin-top: 89vh;
    display: block;
  }
  .imgFrame {
    margin-left: 15vh;
    margin-right: 15vh;
    height: 50vh;
  }
  .words {
    margin-left: 15vh;
    margin-right: 15vh;
  }
  .formContainer {
    margin-left: 10vh;
    margin-right: 10vh;
    // margin-top: 5vh;
  }
  .endStoryBtn {
    padding-left: 5vh;
    padding-right: 5vh;
  }
  .container {
    scroll-snap-type: y mandatory;
  }
  .section {
    height: 100vh;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .arrow {
    margin-top: 85vh;
  }
  .storyTitle {
    font-size: 10vh;
  }
  .block {
    display: none;
  }
  .section {
    display: flex;
  }
  .buttonContainer {
    display: flex;
    margin: auto;
  }
  .imgFrame {
    margin-left: 2vh;
    margin-right: 2vh;
    width: 80vh;
  }
  .words {
    width: 80vh;
    margin-left: 2vh;
    margin-right: 2vh;
  }
  .endStoryBtn:hover {
    margin-top: -1vh;
    box-shadow: 3px 3px #212121;
  }
  .endStoryBtn {
    padding-right: 5vh;
    padding-left: 5vh;
    width: 100%;
  }
  .button:hover {
    margin-top: -1vh;
    box-shadow: 3px 3px #212121;
  }
  .choiceContainer {
    display: flex;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .formContainer {
    margin-left: 25vh;
    margin-right: 25vh;
    margin-top: 10vh;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .words {
    font-size: 2.3vh;
  }
  .imgFrame {
    height: 55vh;
  }
  .formContainer {
    margin-left: 35vh;
    margin-right: 35vh;
  }
}